<a href="https://colab.research.google.com/github/srijita1406/Quantitative-Analytics/blob/main/Forecasting_BankNifty_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA

In [ ]:
from google.colab import files
files=files.upload()

In [3]:
# Read the data into a pandas DataFrame
data = pd.read_csv("BankNiftyFutures_Data5Min.csv")

FileNotFoundError: ignored

In [25]:
data=data.drop('Ticker', axis=1)

In [26]:
data.head()

,Date,Final Date format,Time,Open 5,High 5,Low 5,Close 5,Volume 5,Year
0,2015-01-01 00:00:00,20150101,09:20:00,18861.3496,18867.9492,18793.0000,18808.3496,84825,2015
1,2015-01-01 00:00:00,20150101,09:25:00,18808.0000,18835.0000,18802.1992,18829.0000,40925,2015
2,2015-01-01 00:00:00,20150101,09:30:00,18826.9492,18833.4004,18820.0000,18826.0996,27000,2015
3,2015-01-01 00:00:00,20150101,09:35:00,18825.0508,18829.0996,18810.0000,18810.0000,18025,2015
4,2015-01-01 00:00:00,20150101,09:40:00,18805.0000,18808.9492,18775.0000,18803.9492,60100,2015

In [28]:
# Assuming your DataFrame is named 'df' and the column you want to split is named 'ColumnName'
data[['Date', 'Time']] = data['Date'].str.split(' ', 1, expand=True)

<ipython-input-28-081c138ca221>:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  data[['Date', 'Time']] = data['Date'].str.split(' ', 1, expand=True)

In [29]:
data.head(100)

,Date,Final Date format,Time,Open 5,High 5,Low 5,Close 5,Volume 5,Year
0,2015-01-01,20150101,00:00:00,18861.3496,18867.9492,18793.0000,18808.3496,84825,2015
1,2015-01-01,20150101,00:00:00,18808.0000,18835.0000,18802.1992,18829.0000,40925,2015
2,2015-01-01,20150101,00:00:00,18826.9492,18833.4004,18820.0000,18826.0996,27000,2015
3,2015-01-01,20150101,00:00:00,18825.0508,18829.0996,18810.0000,18810.0000,18025,2015
4,2015-01-01,20150101,00:00:00,18805.0000,18808.9492,18775.0000,18803.9492,60100,2015
...,...,...,...,...,...,...,...,...,...
95,2015-01-02,20150102,00:00:00,19173.4004,19183.1504,19168.0000,19177.0508,15175,2015
96,2015-01-02,20150102,00:00:00,19182.3008,19186.0000,19173.4004,19177.9004,10775,2015
97,2015-01-02,20150102,00:00:00,19176.0000,19181.7500,19172.2500,19178.0996,6725,2015
98,2015-01-02,20150102,00:00:00,19178.0000,19185.0000,19178.0000,19178.5000,7275,2015
99,2015-01-02,20150102,00:00:00,19179.0000,19180.0000,19165.0000,19166.1504,8850,2015

In [1]:
data=data.drop()

NameError: ignored

In [12]:
data = data.set_index('Date')
data.index = pd.to_datetime(data.index)

# Split data into train and test sets
train_size = int(len(data) * 0.8)
train, test = data.iloc[:train_size], data.iloc[train_size:]

KeyError: ignored

In [44]:
train.shape

(73389, 7)

In [46]:
test.shape

(18348, 7)

In [55]:
# Define ARIMA model parameters
p, d, q = 1, 1, 1

# Create and fit ARIMA model on training data
model = ARIMA(train['Close 5'], order=(p, d, q))
model_fit = model.fit()

# Make predictions on test set
forecast = model_fit.forecast(steps=len(test))

# Calculate RMSE
rmse = np.sqrt(np.mean((forecast - test['Close 5'].values)**2))
print(f"RMSE: {rmse}")

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

RMSE: 2840.9860843566394

In [57]:
# Make predictions
start_date = data.index[-1]
end_date = start_date + pd.Timedelta(days=10)
predictions = model_fit.predict(start=start_date, end=end_date)

# Plot the predictions
plt.plot(data.index, data['Close'])
plt.plot(predictions.index, predictions, 'r')
plt.show()

TypeError: ignored

In [2]:
# Make predictions on future data
future_steps = 5
forecast = model_fit.forecast(steps=future_steps)

NameError: ignored

In [21]:
# Convert date columns to datetime format
data['Date'] = pd.to_datetime(data['Date'])
data['Time'] = pd.to_datetime(data['Time']).dt.time

# Set the DataFrame index as the combination of Date and Time
data.set_index(['Date', 'Time'], inplace=True)

# Perform some basic data analysis
print("Data Analysis:")
print("Total number of data points:", len(data))
print("Minimum Close price:", data['Close 5'].min())
print("Maximum Close price:", data['Close 5'].max())
print("Average Volume:", data['Volume 5'].mean())

<ipython-input-21-b40b254862dd>:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['Date'] = pd.to_datetime(data['Date'])

Data Analysis:
Total number of data points: 91737
Minimum Close price: 13445.0
Maximum Close price: 32756.8496
Average Volume: 55314.15967385025