<a href="https://colab.research.google.com/github/srijita1406/Quantitative-Analytics/blob/main/Quantitative_Stock_Price_analysis_using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sb

In [29]:
import yfinance as yf
yf.pdr_override()

# **using yahoo api to access finance data using pandas data reader**

In [31]:
from IPython.core.display import display_pdf
import yfinance as yf
import datetime

# Define the ticker symbol and date range
ticker = "AAPL"
start = datetime.datetime.now() - datetime.timedelta(days=365)
end = datetime.datetime.now()

# Download the historical stock prices
display_pdf = yf.download(ticker, start=start, end=end)

# Print the data
print(data)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2022-05-05  163.850006  164.080002  154.949997  156.770004  155.826050
2022-05-06  156.009995  159.440002  154.179993  157.279999  156.562668
2022-05-09  154.929993  155.830002  151.490005  152.059998  151.366486
2022-05-10  155.520004  156.740005  152.929993  154.509995  153.805298
2022-05-11  153.500000  155.449997  145.809998  146.500000  145.831848
...                ...         ...         ...         ...         ...
2023-04-28  168.490005  169.850006  167.880005  169.679993  169.679993
2023-05-01  169.279999  170.449997  168.639999  169.589996  169.589996
2023-05-02  170.089996  170.350006  167.539993  168.539993  168.539993
2023-05-03  169.500000  170.919998  167.160004  167.449997  167.449997
2023-05-04  164.889999  167.039993  164.309998  165.789993  165.789993

               Volume
Date
2022-05-05  130525300
2022-05-06  116124600
2022-05-09  131577900
2022-05-10  115366700
2022-05-11  142689800
...               ...
2023-04-28   55209200
2023-05-01   52472900
2023-05-02   48425700
2023-05-03   65136000
2023-05-04   80490200

[251 rows x 6 columns]

In [32]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-05-05,163.850006,164.080002,154.949997,156.770004,155.826050,130525300
2022-05-06,156.009995,159.440002,154.179993,157.279999,156.562668,116124600
2022-05-09,154.929993,155.830002,151.490005,152.059998,151.366486,131577900
2022-05-10,155.520004,156.740005,152.929993,154.509995,153.805298,115366700
2022-05-11,153.500000,155.449997,145.809998,146.500000,145.831848,142689800

In [34]:
# Calculate daily returns
data['Returns'] = data['Close'].pct_change()

# Calculate dividends
data['Dividends'] = 0
data.loc[data['Returns'] < 0, 'Dividends'] = data['Close'] * 0.02

# Calculate derivatives from dividends
data['Derivatives'] = data['Dividends'].diff()

# Print first 10 rows of the dataframe
print(data.head(10))

                  Open        High         Low       Close   Adj Close  \
Date
2022-05-05  163.850006  164.080002  154.949997  156.770004  155.826050
2022-05-06  156.009995  159.440002  154.179993  157.279999  156.562668
2022-05-09  154.929993  155.830002  151.490005  152.059998  151.366486
2022-05-10  155.520004  156.740005  152.929993  154.509995  153.805298
2022-05-11  153.500000  155.449997  145.809998  146.500000  145.831848
2022-05-12  142.770004  146.199997  138.800003  142.559998  141.909805
2022-05-13  144.589996  148.100006  143.110001  147.110001  146.439056
2022-05-16  145.550003  147.520004  144.179993  145.539993  144.876221
2022-05-17  148.860001  149.770004  146.679993  149.240005  148.559341
2022-05-18  146.850006  147.360001  139.899994  140.820007  140.177765

               Volume   Returns  Dividends  Derivatives
Date
2022-05-05  130525300       NaN     0.0000          NaN
2022-05-06  116124600  0.003253     0.0000       0.0000
2022-05-09  131577900 -0.033189     3.0412       3.0412
2022-05-10  115366700  0.016112     0.0000      -3.0412
2022-05-11  142689800 -0.051841     2.9300       2.9300
2022-05-12  182602000 -0.026894     2.8512      -0.0788
2022-05-13  113990900  0.031916     0.0000      -2.8512
2022-05-16   86643800 -0.010672     2.9108       2.9108
2022-05-17   78336300  0.025423     0.0000      -2.9108
2022-05-18  109742900 -0.056419     2.8164       2.8164

In [37]:
# Extract ex-dividend dates and dividend amounts
dividends = data[data['Dividends'].notnull()][['Dividends']]
ex_dividend_dates = dividends.index

# Calculate the derivative from the dividends
dividend_derivative = np.diff(dividends.values.flatten())
print((dividends),(dividend_derivative))

            Dividends
Date
2022-05-05     0.0000
2022-05-06     0.0000
2022-05-09     3.0412
2022-05-10     0.0000
2022-05-11     2.9300
...               ...
2023-04-28     0.0000
2023-05-01     3.3918
2023-05-02     3.3708
2023-05-03     3.3490
2023-05-04     3.3158

[251 rows x 1 columns] [ 0.00000000e+00  3.04119995e+00 -3.04119995e+00  2.93000000e+00
 -7.88000488e-02 -2.85119995e+00  2.91079987e+00 -2.91079987e+00
  2.81640015e+00 -6.94000244e-02 -2.74700012e+00  0.00000000e+00
  2.80720001e+00 -2.80720001e+00  0.00000000e+00  0.00000000e+00
  2.97679993e+00 -2.59979248e-03 -2.97420013e+00  2.90760010e+00
 -2.90760010e+00  0.00000000e+00  2.95920013e+00 -1.06400146e-01
 -1.10199890e-01 -1.05000000e-01 -2.63760010e+00  0.00000000e+00
  2.60119995e+00 -2.60119995e+00  0.00000000e+00  2.70700012e+00
 -2.70700012e+00  0.00000000e+00  0.00000000e+00  2.74880005e+00
 -2.74880005e+00  2.73440002e+00 -2.73440002e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  2.89739990e+00
 -2.89739990e+00  2.90980011e+00 -2.90980011e+00  0.00000000e+00
  2.94140015e+00 -2.94140015e+00  0.00000000e+00  0.00000000e+00
  3.08179993e+00 -2.27999878e-02 -2.69998169e-02 -3.03200012e+00
  0.00000000e+00  0.00000000e+00  3.23019989e+00 -3.00000000e-02
 -3.20019989e+00  3.31619995e+00 -9.19982910e-03 -9.60021973e-03
 -3.29739990e+00  0.00000000e+00  3.36980011e+00 -3.36980011e+00
  0.00000000e+00  3.46059998e+00 -3.46059998e+00  3.48299988e+00
 -5.25997925e-02 -7.89999390e-02 -6.80023193e-03 -3.34459991e+00
  0.00000000e+00  3.27239990e+00 -4.47998047e-02 -4.94000244e-02
 -3.38000488e-02 -3.14440002e+00  3.11619995e+00 -2.55999756e-02
 -3.09059998e+00  3.08920013e+00 -3.08920013e+00  0.00000000e+00
  3.07679993e+00 -3.07679993e+00  3.04739990e+00 -3.33999634e-02
 -3.01399994e+00  0.00000000e+00  3.07440002e+00 -1.95999146e-02
 -4.62002563e-02 -3.00859985e+00  0.00000000e+00  2.99679993e+00
 -1.47200012e-01 -8.55999756e-02 -2.76399994e+00  0.00000000e+00
  0.00000000e+00  2.90859985e+00 -1.06799927e-01 -2.80179993e+00
  2.77959991e+00 -1.27999878e-02 -2.76679993e+00  2.76760010e+00
 -2.76760010e+00  0.00000000e+00  0.00000000e+00  2.86779999e+00
 -2.86779999e+00  0.00000000e+00  0.00000000e+00  2.98700012e+00
 -9.10000610e-02 -2.89600006e+00  3.06679993e+00 -5.38000488e-02
 -1.12399902e-01 -1.22999878e-01 -1.00000000e-02 -2.76760010e+00
  0.00000000e+00  2.69739990e+00 -2.69739990e+00  0.00000000e+00
  2.96559998e+00 -2.96559998e+00  2.97579987e+00 -2.97579987e+00
  0.00000000e+00  2.96019989e+00 -2.96019989e+00  0.00000000e+00
  2.96220001e+00 -7.77999878e-02 -6.10000610e-02 -2.82339996e+00
  0.00000000e+00  2.95619995e+00 -2.35998535e-02 -7.44000244e-02
 -3.94000244e-02 -2.81880005e+00  2.84320007e+00 -2.84320007e+00
  0.00000000e+00  2.86420013e+00 -1.34200134e-01 -3.98001099e-02
 -4.27999878e-02 -1.39984131e-03 -2.64600006e+00  2.64459991e+00
 -7.39990234e-03 -3.66000366e-02 -7.97999573e-02 -2.52080002e+00
  0.00000000e+00  2.50139999e+00 -2.50139999e+00  2.50039993e+00
 -2.50039993e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  2.66820007e+00 -2.66820007e+00  0.00000000e+00  2.70420013e+00
 -2.70420013e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  2.83720001e+00 -2.83720001e+00  0.00000000e+00  2.86000000e+00
 -2.86000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  3.03459991e+00 -3.03459991e+00  3.03839996e+00 -2.10000610e-02
 -3.01739990e+00  0.00000000e+00  3.06399994e+00 -3.06399994e+00
  3.07420013e+00 -2.32000732e-02 -8.14001465e-02 -2.96959991e+00
  0.00000000e+00  2.93420013e+00 -2.93420013e+00  2.94820007e+00
 -4.20001221e-02 -2.90619995e+00  0.00000000e+00  0.00000000e+00
  3.03200012e+00 -3.03200012e+00  3.01179993e+00 -4.17999268e-02
 -2.97000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  3.10000000e+00 -3.10000000e+00  0.00000000e+00  3.15660004e+00
 -3.15660004e+00  0.00000000e+00  3.16559998e+00 -1.26000977e-02
 -3.15299988e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  3.31260010e+00 -3.74002075e-02 -3.27519989e+00  3.24059998e+00
 -2.45999146e-02 -1.39999390e-02 -3.20200012e+00  3.30420013e+00
 -3.30420013e+00  0.00000000e+00  0.00000000e+00  3.33299988e+00
 -3.25997925e-02 -3.30040009e+00  3.27540009e+00 -2.00195312e-04
 -3.27519989e+00  0.00000000e+00  3.39179993e+00 -2.10000610e-02
 -2.17999268e-02 -3.32000732e-02]